:root {
  --clr-blue-900: #13183F;
  --clr-blue-600: #666CA3;
  --clr-pink-600: #F74780;
  --clr-pink-300: #FFA7C3;
  --clr-grey: #83869A;
  --clr-white: #FFF;
  --clr-shadow: hsla(233, 92%, 29%, 4.42%);

  --clr-gradient-pink: linear-gradient(#FF6F48, #F02AA6);
  --clr-gradient-purple: linear-gradient(#4851FF, #F02AA6);
  --clr-gradient-white: linear-gradient(#fff, #F0F1FF);

  --fs-1: clamp(2.5rem, 2vw + 2.1rem, 3.5rem);
  --fs-2: clamp(2rem, 1vw + 1.8rem, 2.5rem);
  --fs-3: clamp(1.5rem, 1vw + 1.3rem, 2rem);
  --fs-4: clamp(1.25rem, 0.5vw + 1.15rem, 1.5rem);
  --fs-5: 1.125rem;
  --fs-6: clamp(0.875rem, 0.25vw + 0.825rem, 1rem);
  --fs-7: 1.125rem;
}

/* plus-jakarta-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/plus-jakarta-sans-v12-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* plus-jakarta-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/plus-jakarta-sans-v12-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* plus-jakarta-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/plus-jakarta-sans-v12-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* plus-jakarta-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/plus-jakarta-sans-v12-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* plus-jakarta-sans-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 800;
  src: url('fonts/plus-jakarta-sans-v12-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  overflow-x: hidden;
  font-family: 'Plus Jakarta Sans', Arial, sans-serif;
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
  color: var(--clr-grey);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--clr-blue-900);
  line-height: 1.2;
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

a {
  text-decoration: none;
  display: inline-block;
}

.wrapper {
  padding-inline: 20px;
}

@media screen and (min-width: 50rem) {
  .wrapper {
    padding-inline: 40px;
  }
}

@media screen and (min-width: 75rem) {
  .wrapper {
    padding-inline: 0;
    max-width: 1120px;
    margin-inline: auto;
  }
}

.header .wrapper {
  padding-block: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: clamp(4.956rem, 3.964vw + 4.163rem, 6.938rem);
}

.logo:hover {
  opacity: 0.75;
}

.button {
  padding: 1rem 2rem;
  border-radius: 1.75rem;
  color: var(--clr-white);
  font-size: var(--fs-7);
  font-weight: 700;
  transition: 250ms ease-in-out;
  transition-property: background-color, opacity;
}

.button.dark {
  background-color: var(--clr-blue-900);
}

.button.dark:hover {
  background-color: var(--clr-blue-600);
}

.button.pink {
  background: var(--clr-gradient-pink);
}

.button.pink:hover {
  opacity: 0.5;
}

.button.purple {
  background: var(--clr-gradient-purple);
}

.button.purple:hover {
  opacity: 0.5;
}

.hero {
  padding-block: 4rem;
}

.hero__text {
  padding-bottom: 3rem;
}

.hero__title {
  font-weight: 800;
  font-size: var(--fs-1);
}

.hero__description {
  padding-block: 1.5rem 2.5rem;
  font-weight: 500;
  font-size: var(--fs-5);
  max-width: 25ch;
}

.hero__picture {
  max-width: 768px;
}

@media screen and (min-width: 50rem) {
  .hero {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    overflow-x: clip;
  }

  .hero__text {
    padding-block: 41.5px;
  }

  .hero__title {
    min-width: 16ch;
  }

  .hero__text.wrapper {
    padding-inline-end: 0;
  }

  .hero__picture {
    pointer-events: none;
    position: absolute;
    right: 0;
    translate: 44% -25%;
  }

}

@media screen and (min-width: 75rem) {
  .hero {
    max-width: 1120px;
    margin-inline: auto;
    gap: 32px;
    overflow-x: visible;
  }

  .hero__text {
    padding-block: 150px;
    min-width: 35ch;
  }

  .hero__picture {
    max-width: 13900px;
    translate: 44% -22%;
  }
}

.courses {
  background-image: var(--clr-gradient-white);
}

.courses__content {
  display: grid;
  row-gap: 64px;
  padding-block: 24px 80px;
}

.course {
  position: relative;
  padding: 64px 32px 40px;
  border-radius: 15px;
  display: grid;
  grid-template-rows: min-content auto min-content;
  row-gap: 24px;
  background-color: var(--clr-white);
  box-shadow: 0 25px 50px 0 var(--clr-shadow);
}

.course.title {
  padding: 32px;
  background-image: var(--clr-gradient-pink);
  color: var(--clr-white);
}

.course img {
  position: absolute;
  top: 0;
  translate: 32px -50%;
}

.course h3 {
  font-size: var(--fs-4);
  font-weight: 800;
}

.course p {
  font-weight: 700;
}

.course a {
  color: var(--clr-pink-600);
  font-size: var(--fs-7);
  font-weight: 700;
}

.footer {
  background-color: var(--clr-blue-900);
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 24px;
}

@media screen and (min-width: 50rem) {
  .courses__content {
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
  }

  .course.title {
    padding: 64px 32px 40px;
  }

  .course p {
    font-size: var(--fs-5);
    font-weight: 500;
  }
}

@media screen and (min-width: 75rem) {
  .courses__content {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 24px;
  }
}
